body {
    margin: auto auto;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/background.png);
   background-size: cover;
    background-repeat: no-repeat;

}


.ol {
    margin: 30px;
    list-style-image: top;
    color:whitesmoke;
    list-style-type: upper-alpha;
}
h1 {
    display: flex;
    justify-content: center;
    color: rgba(550, 0, 0, 1000);
}

.unorderd {
    
    float: right;
}

#list1 {color:whitesmoke;
    margin-bottom: 30px;
    height: 500px;
    width: 500px;
    background-image: url(../img/porsche1.png);
}

#list2{
    color: red;
    margin: 30px;
    height: 500px;
    width: 500px;
    background-image: url(../img/rwb.png);
}

#list3 {
    color:whitesmoke;
    height: 500px;
    width: 500px;
    background-image: url(../img/rwb1.png);
}

.last_img {
    display: flex;
    justify-content: center;
    margin-top: 400px;
    margin-bottom: 30px;    
}